@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding" rel="stylesheet');

* {
    box-sizing: border-box;
}

small {
    font-style: italic;
    font-size: .85em;
}

body {
    font-family: 'Nanum Gothic Coding', monospace;
}

nav {
    border-bottom: 1px solid #cdcdcd;
    padding-bottom: 1em;
    margin-bottom: 2em;

    ul {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        list-style-type: none;

        li {
            display: block;
            margin-right: 1em;
            padding-right: 1em;
            font-weight: bold;
            border-right: 1px solid #000;
        }
    }
}

section {
    width: 50%;
    padding: 1em;
    border: 1px dashed #cdcdcd;
}
